<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>审核房源</title>
  <script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}"></script>
</head>
<body>
<!--  筛选房源信息-->
<div>
  <label>要求房源所在城市:</label>
  <select name="city" id="city">
    <option th:value=null th:selected="${city==null}"></option>
    <option th:value="长沙" th:selected="${city=='长沙'}">长沙</option>
    <option th:value="上海" th:selected="${city=='上海'}">上海</option>
    <option th:value="北京" th:selected="${city=='北京'}">北京</option>
    <option th:value="深圳" th:selected="${city=='深圳'}">深圳</option>
    <option th:value="衡阳" th:selected="${city=='衡阳'}">衡阳</option>
    <option th:value="广州" th:selected="${city=='广州'}">广州</option>
    <option th:value="杭州" th:selected="${city=='杭州'}">杭州</option>
  </select> &nbsp;&nbsp;&nbsp;&nbsp;
  价格区间:<input id="min" type="text" name="min" th:value="${min==0?0:min}">——<input id="max" type="text" th:value="${max==0?null:max}" name="max">元<br>
  <input type="button" id="filter" value="筛选" onclick="f1()">
  <input type="button" id="reset" value="重置" onclick="f2()">
</div>
<!--房源不为空的时候，显示所有房源信息-->
<div th:if="${houses.total!=0}">


  <table border="1">
    <tr>
      <th>出租方式</th>
      <th>月租价格</th>
      <th>所在城市</th>
      <th>房源信息</th>
      <th>房源图片</th>
      <th>操作</th>
    </tr>
    <tr th:each="house: ${houses.records}">
      <td th:text="${house.category}"></td>
      <td th:text="${house.price}"></td>
      <td th:text="${house.city}"></td>
      <td th:text="${house.houseInfo}"></td>
      <td>
        <ol >
          <li th:each="img: ${house.imgs}"><br>
            <img th:src="@{'/img/houseImg/'+${img.img}}" alt="房屋图片" height="50PX" width="80PX">
          </li>
        </ol>
      </td>
      <td >
        <a th:href="@{'/manager/checkHouse?pn='+${houses.getCurrent()}+'&city='+${city==null?null:city}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}+'&houseId='+${house.id}+'&yon=Y'}" onclick="f4()">审核通过</a>/
        <a th:href="@{'/manager/checkHouse?pn='+${houses.getCurrent()}+'&city='+${city==null?null:city}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}+'&houseId='+${house.id}+'&yon=N'}" onclick="f5()">审核通过</a>
      </td>
    </tr>
  </table><br>
  <!--页面导航-->
  <div>
    <a th:href="@{'/manager/checkHouse?pn=1'+'&city='+${city==null?0:null}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}}">首页</a>
    <a id="pre" th:href="@{'/manager/checkHouse?pn='+${houses.getCurrent()-1}+'&city='+${city==null?null:city}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}}" th:name="${houses.getCurrent()}">上一页</a>

    <a th:if="${houses.hasPrevious()==true}" th:href="@{'/manager/checkHouse?pn='+${houses.getCurrent()-1}+'&city='+${city==null?null:city}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}}">[[${houses.getCurrent()-1}]]</a>
    &lt;[[${houses.getCurrent()}]]&gt;
    <a th:if="${houses.hasNext()==true}" th:href="@{'/manager/checkHouse?pn='+${houses.getCurrent()+1}+'&city='+${city==null?null:city}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}}">[[${houses.getCurrent()+1}]]</a>

    <a id="next" th:href="@{'/manager/checkHouse?pn='+${houses.getCurrent()+1}+'&city='+${city==null?null:city}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}}" th:name="${houses.getPages()}">下一页</a>
    <a th:href="@{'/manager/checkHouse?pn='+${houses.getPages()}+'&city='+${city==null?null:city}+'&min='+${min==0?0:min}+'&max='+${max==0?0:max}}">尾页</a>

    <!--输入页码进行跳转-->
    <input id="pageMax" th:value="${houses.getPages()}" type="hidden">
    到第<input id="pn_input">页
    <input id="confirm" value="确定" type="button" onclick="f3()">
    <label>总房源数量:[[${houses.total}]]</label>
    <label>总页数:[[${houses.pages}]]</label><br>
  </div>
</div>

<!--房源为空的时候提示信息-->
<div th:if="${houses.total==0}">
  <span>暂时还没有房源未审核</span>
</div>

<br>
<a th:href="@{/manager/managerIndex.html}">返回管理员首页</a>
<script type="text/javascript">
  //筛选之后的页面跳转
  function f1() {
    var city=document.getElementById("city").value
    var min=document.getElementById("min").value-0
    var max=document.getElementById("max").value-0
    if(min>max||min<0||max<0){
      alert("请正确输入筛选价格")
    }else{
      location.href="http://localhost:8080/manager/checkHouse?city="+city+"&min="+min+"&max="+max;
    }
  }
  //重置筛选信息
  function f2() {
    location.href="http://localhost:8080/manager/checkHouse"
  }
</script>
<script type="text/javascript">
  function f3() {
    var city=document.getElementById("city").value
    var min=document.getElementById("min").value-0
    var max=document.getElementById("max").value-0
    var pn=document.getElementById("pn_input").value-0
    var pageMax=document.getElementById("pageMax").value-0
    if(pn>0&&pn<=pageMax){
      location.href="http://localhost:8080/manager/checkHouse?pn="+pn+"&city="+city+"&min="+min+"&max"+max;
    }else{
      alert("总共"+pageMax+"页，你输入的页码超出范围了")
      return false
    }
  }
</script>
<script type="text/javascript">
  //上下页的
  // 点击上一页
  var pre=document.getElementById("pre");
  // 点击下一页
  var next=document.getElementById("next");
  //当前页码
  var current=pre.getAttribute("name");
  //返回总页数
  var totalPages=next.getAttribute("name")
  pre.onclick=function () {
    if(current==1){
      alert("已经是第一页了");
      return false;
    }
  }
  next.onclick=function () {
    if(current===totalPages){
      alert("已经是最后一页了");
      return false;
    }
  }
</script>
<script>
  function f4() {//提示管理员通过成功
    alert("房源审核已通过")
  }
  function f5() {//提示管理员房源下架
    alert("房源已下架")
  }
</script>
</body>
</html>