<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>注册页面</title>
  <script type="text/javascript" th:src="@{/js/vue.js}"></script>
  <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-1.7.2.js}"></script>
  <script type="text/javascript">
    window.onload=function () {
      //验证用户输入的数据是否符合规格
      var userName=document.getElementById("userName");
      var userNameMsg=document.getElementById("userNameMsg");
      var userNamePattern =/^\w{5,12}$/;
      userName.onblur= function click1 () {
        if(!userNamePattern.test(userName.value)){
          userNameMsg.innerText="请输入的5-12位的用户名"
        }else{
          userNameMsg.innerText="√"
        }
      }

      var password=document.getElementById(`password`)
      var passwordMsg=document.getElementById('passwordMsg')
      var passwordPattern =/^\w{5,12}$/;
      password.onblur=function () {

        if(!passwordPattern.test(password.value)){
          passwordMsg.innerText="请输入5-12位的密码"
        }else {
          passwordMsg.innerText="√"
        }
      }

      var repassword=document.getElementById(`repassword`)
      var repasswordMsg=document.getElementById('repasswordMsg')
      repassword.onblur=function () {
        if(repassword.value!==password.value){
          repasswordMsg.innerText="两次密码不一致"
        }else {
          repasswordMsg.innerText="√"
        }
      }

      var email=document.getElementById(`email`)
      var emailMsg=document.getElementById('emailMsg')
      var emailPattern =  /^[a-z\d]+(\.[a-z\d]+)*@([\da-z](-[\da-z])?)+(\.{1,2}[a-z]+)+$/;
      email.onblur=function () {

        if(!emailPattern.test(email.value)){
          emailMsg.innerText="请输入正确的邮箱格式"
        }else {
          emailMsg.innerText="√"
        }
      }
      var submit=document.getElementById("submit");
      submit.onclick=function () {
        if(!passwordPattern.test(userName.value)||!passwordPattern.test(password.value)||repassword.value!==password.value||!emailPattern.test(email.value)){
          alert("请正确填写注册信息")
          return false;
        }
      }
    }
  </script>
</head>
<body>
<form th:action="@{/regist}" method="post" >
  <p th:if="${registMsg!=null}" th:text="${registMsg}"></p>

  <label>用户名:</label>
  <input type="text" name="userName" th:placeholder="用户名" id="userName">

  <input id="check" type="button" value="是否存在用户名?">

  <label id="userNameMsg"></label> <br>

  <label>密码:</label>
  <input type="text" name="password" th:placeholder="密码" id="password"><label id="passwordMsg"></label> <br>

  <label>确认密码:</label>
  <input type="text" th:placeholder="确认密码" id="repassword"><label id="repasswordMsg"></label> <br>

  <label>真实姓名:</label>
  <input type="text" name="realName" th:placeholder="真实姓名" id="realName"><label id="realNameMsg"></label> <br>

  <label>电话号码:</label>
  <input type="text" name="phone" th:placeholder="电话号码" id="phone"><label id="phoneMsg"></label> <br>

  <label>邮箱:</label>
  <input type="text" name="email" th:placeholder="邮箱" id="email"><label id="emailMsg"></label> <br>

  <div>
    <label>验证码:</label>
    <input type="text" name="code" id="verifycode" placeholder="请输入验证码">
    <div>
      <img th:src="@{/kaptcha}" style="width:100px;height:40px;" id="kaptcha" onclick="f1()"/>
    </div>
  </div>
  <input type="submit" th:value="注册" id="submit">
</form>
<a th:href="@{/}">返回首页</a>
<script>
  // 验证用户名是否存在
  //原生的js ajax请求
  var check=document.getElementById("check")
  check.onclick=function () {
    var urlHead="http://localhost:8080/existUsername?username="
    var username=document.getElementById("userName").value
    var url=urlHead+username
    var xmlhttprequest = new XMLHttpRequest();
    xmlhttprequest.open("get",url,true)
    xmlhttprequest.onreadystatechange=function () {
      if(xmlhttprequest.readyState===4&& xmlhttprequest.status === 200){
        var jsonObj=xmlhttprequest.responseText;
        alert(jsonObj)
      }
    }
    xmlhttprequest.send();
  }
</script>
<script>
  function f1(){
    //刷新验证码
    //后面加一个随机数组让浏览器不会从缓存中找数据，真正访问到服务器
    document.getElementById('kaptcha').src="http://localhost:8080/kaptcha?n="+Math.random();
  }
</script>
</body>
</html>