<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>个人资料页面</title>
</head>
<body>
<form th:action="@{/update}" method="post">
  <input type="hidden" name="userName" th:value="${session.user.getUserName()}">

  <label>密码:</label>
  <input type="text" name="password" th:value="${session.user.getPassword()}"> <br>

  <label>真实姓名:</label>
  <input type="text" name="realName" th:value="${session.user.getRealName()}"> <br>

  <label>电话号码:</label>
  <input type="text" name="phone" th:value="${session.user.getPhone()}"> <br>

  <label>邮箱:</label>
  <input type="text" name="email" th:value="${session.user.getEmail()}"> <br>
  <input type="submit" th:value="确认修改">
</form>

<a th:href="@{/}">返回首页</a>
</body>
</html>