<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace就是对应的mapper全类名-->
<mapper namespace="com.longjian.myland.mapper.OrderMapper">
    <!--    在xml中定义useGeneratedKeys为true,返回主键id的值,keyColumnkey和Property分别代表数据库记录主键字段和java对象成员属性名-->
    <insert id="insertAndGetIdBack" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into `order` values(null,#{orderId},#{belong},#{amount},#{paymentTime})
    </insert>
</mapper>