<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>添加房源页</title>
  <script type="text/javascript" th:src="@{/js/vue.js}"></script>
  <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
</head>
<body>
<form th:action="@{/addHouse}" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td>
        <label>出租类别:</label>
        <select name="category">
          <option th:value="合租" selected="selected">合租</option>
          <option th:value="整租">整租</option>
        </select> <br>
      </td>
    </tr>
    <tr>
      <td>
        <label>每月出租价格:</label>
        <input type="text" name="price" th:placeholder="0.00" id="price">人民币 <br>
      </td>
    </tr>
    <tr>
      <td>
        <label>房源所在城市:</label>
        <select name="city">
          <option th:value="长沙" selected="selected">长沙</option>
          <option th:value="上海">上海</option>
          <option th:value="北京">北京</option>
          <option th:value="深圳">深圳</option>
          <option th:value="衡阳">衡阳</option>
          <option th:value="广州">广州</option>
          <option th:value="杭州">杭州</option>
        </select> <br>
      </td>
    </tr>
    <tr>
      <td>
        <label>房源介绍，限定100字:</label><br>
        <textarea name="houseInfo" id="houseInfo"></textarea><br>
      </td>
    </tr>
    <tr>
      <td>
        <label>上传房源图片:</label>
        <input type="file" name="img" multiple id="img">单个文件不超过3mb,总大小不超过10mb<br>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" th:value="提交房源信息" id="submit">
      </td>
    </tr>
  </table>
</form> <br>
<!--提示反馈信息-->
<a th:href="@{/}">返回首页</a>

<script type="text/javascript">
  //这是要求所有的输入信息不为空的函数
  var submit=document.getElementById("submit");
  submit.onclick=function () {
    var price=document.getElementById('price').value
    var img=document.getElementById('img').value
    var houseInfo=document.getElementById('houseInfo').value
    if(price!==''&&img!==''&&houseInfo!==''){
      alert("房源添加成功,等待管理员审核");
    }else{
      alert("请正确填写房源信息");
      return false;
    }
  }
</script>
</body>
</html>